#
# SPDX-FileCopyrightText: 2019 George Florea Bănuș <georgefb899@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Desktop Entry]
Name=Manga Reader
Exec=mangareader
Icon=mangareader
Type=Application
MimeType=application/vnd.comicbook+zip;application/vnd.comicbook-rar;application/x-cbt;application/x-cb7;
Categories=Qt;KDE;Graphics;Viewer;
Terminal=false
