<?xml version="1.0" encoding="UTF-8"?>
<!--
 SPDX-FileCopyrightText: 2021 George Florea Bănuș <georgefb899@gmail.com>

 SPDX-License-Identifier: CC-BY-SA-4.0
 -->
<gui name="mangareader"
     version="4"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

    <MenuBar noMerge="1">
        <Menu name="file"><text>&amp;File</text>
            <Action name="openMangaFolder" />
            <Action name="openMangaArchive" />
            <Action name="addMangaFolder" />
            <Separator />
            <Action name="file_quit" />
        </Menu>
        <Menu name="view"><text>&amp;View</text>
            <Action name="view_zoom_in" />
            <Action name="view_zoom_out" />
            <Action name="resetZoom" />
            <Separator />
            <Action name="fitToWidthAction" />
            <Action name="fitToHeightAction" />
            <Separator />
            <Action name="focusView" />
            <Action name="focusTree" />
            <Action name="focusBookmarksTable" />
            <Separator />
            <Action name="fullscreen" />
        </Menu>
        <Menu name="settings"><text>&amp;Settings</text>
            <Action name="colorSchemeChooser" />
            <Separator/>
            <Action name="options_show_menubar"/>
            <Action name="options_configure_keybinding"/>
            <Action name="options_configure_toolbars"/>
            <Action name="options_configure"/>
        </Menu>
        <Menu name="help"><text>&amp;Help</text>
            <Action name="help_report_bug"/>
            <Action name="help_donate"/>
            <Separator/>
            <Action name="help_about_app"/>
            <Action name="help_about_kde"/>
        </Menu>
    </MenuBar>

    <ToolBar name="mainToolBar" noMerge="1">
        <text>Main Toolbar</text>
        <Action name="hamburger_menu" />
        <Action name="options_configure" />
        <Spacer />
        <Action name="goToPage" />
        <Action name="view_zoom_in" />
        <Action name="view_zoom_out" />
        <Action name="fitToHeightAction" />
        <Action name="fitToWidthAction" />
        <Spacer />
        <Action name="fullscreen" />
        <Action name="file_quit" />
    </ToolBar>
</gui>
